certifi==2020.12.5
chardet==4.0.0
cycler==0.10.0
Deprecated==1.2.12
dimod==0.9.14
dwave-neal==0.5.7
idna==2.10
jij-cimod==1.0.5
kiwisolver==1.3.1
matplotlib==3.4.1
numpy==1.19.5
openjij==0.1.1
Pillow==8.2.0
pyparsing==2.4.7
pyqubo==1.0.10
python-dateutil==2.8.1
requests==2.25.1
scipy==1.6.2
six==1.15.0
urllib3==1.26.4
wrapt==1.12.1
